<h1> Edit User </h1>
<%#=@user.inspect%>
<%=form_for @user, url: edit_user_profile_path, :html => { :multipart => true } do |x|%>
<%=x.label 'profile picture'%>
<%=x.file_field :profile_picture%><br>
<%=x.submit%>
<%end%>

