<h1> Profile Page </h1>
<%=@user.email%>

<h1> User posts:</h1>
<%@posts.each do |x|%>
  <%if x.type=="Image"%>
    <%= image_tag x.body.url %>
    <%#=image_tag x.body%><br>
    <%else%>
    <%=x.body%><br>
  <%end%>
<%end%>

<%=link_to "back home", root_path%>