<h1>Friends List:</h1>
<%@friendships.each do |x|%>
<%=x.friend.email%><%=link_to "Remove Friend", friendship_path(x.id), method: :delete%><br>
<%end%>
<%=link_to "Back Home", root_path%>

<!-- <h1>Ppl who have added me: </h1> -->