// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#time{
float:right;
}

#floatleft{
  float:left;
}

.feedprofilepic{
  height:150px;
  width: 150px;
  // max-width: 100%;
}

// .userpost{
//   height:500px;
// }

.picture{
  height:400px;
  background-color: #F5F5F5;
  border:1px solid #DDDDDD;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.picture:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

.status{
  border:1px solid #DDDDDD;
  height:150px;
  margin-top: -20px;
  background-color: #F5F5F5;
  padding-left: 10px;
  padding-top: 10px;
  font-family: Times New Roman;
  color:black;
}

.statuslink{
  text-decoration: none !important;
}

.status:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  

// the div showing the icons for comment and like
.commentsandtags{
  background-color: #F5F5F5;
  border:1px solid #DDDDDD;
  cursor:pointer;
}
.commentsandtags:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }


// the actual comments - which are hidden by default 
.commentsonindex{
  background-color: #F5F5F5;
}

.dontshowme{
  display:none;
}

#timeagoinwords{
  font-size: 10px;
}