.customheader{
padding:0px 0px 0px 0px;
border-bottom:none;
// min-height: none;
}

.custombutton{
  padding-right:3px;
}


// .postdiv{
//   width:100%;
//   background-color: #F5F5F5;
//   min-height: 200px;
// }

#statuspost{
  width:100%;
  background-color: #F5F5F5;
  height: 240px;
  overflow:scroll;
  font-family: Times New Roman;
  font-size:40px;
  padding: 10px 10px 10px 10px;
  position: relative;
}

#imagediv{
  width:100%;
  position:relative;
  max-height:460px;
}



// #poststatuscustom{
//   font-family: Times New Roman;
//   font-size:40px;
//   padding: 10px 10px 10px 10px;
// }

#imageoverlay{
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  // its parent (statuspost of imagepost has position:relative)
  width:100%;
  bottom:0;
  min-height: 40px;
  font-size:15px;
  font-family:"Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  left:0px;
}

#likebutton{
  float:left;
  padding-left: 0px;
  margin-left: 0px;
}

#unlikebutton{
  float:left;
  padding-left: 0px;
  margin-left: 0px;


}

.customfooter{
  padding:0px;
  border:none;
}

#usertagsinpost{
  float:left;
  background-color: #F5F5F5;
}

.commentsonprofile{
  background-color: #F5F5F5;
  overflow: scroll;
}