<h1>Hey <%= @desired_friend.first_name %>!</h1>
<br>
<p>You've got a new friend request from <%=@friendship.user.first_name%>+" "+<%=@friendship.user.last_name%>+" "+(@friendship.user.email)</p>
Click <a href="www.pic10.herokuapp.com">here</a> to view the request
<br>
<p>Regards,</p>
<p>pic10 Team</p>


